#root,.wrap{
    height: 100%;
}
.wrap{
    position: relative;
    background-size: cover;
    background-image: url("../../images/login/background.jpg");
}

.form-wrap{
    position: absolute;
    top: 18%;
    width: 100%;
}
.form-content{
    width: 450px;
    height: 500px;
    margin: auto;
    background-color: rgba(50,50,50,0.3);
}
